/* Font Face */
@font-face{
    font-family: 'ubnty';
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face{
    font-family: 'normal-ubnty';
    src: url(../fonts/Ubuntu-Medium.ttf);
}
@font-face{
    font-family: 'bold-ubnty';
    src: url(../fonts/Ubuntu-Bold.ttf);
}
/* Generall Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Defult value for link */
a{
    text-decoration: none;
    color: #000;
}
/* styel of ul */
ul{
    list-style-type: none;
}
/* the font family of body */
body{
    font-family: 'ubnty';
}
/* the header */
header{
    background: radial-gradient(#fff, #ffd6d6);
}
/* the container */
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}
/* the navbar style */
.navbar{
    display: flex;
    align-items: center;
    padding: 30px 20px;
}
/* the h1 link */
.logo a{
    padding: 3px;
    border: 3px solid #000;
    display: inline-block;
    font-size: 9px;
}
/* the orange span */
.logo a span{
    color: #ff523b;
}
/* the top nav style */
.navbar .top-nav{
    flex: 1;
    text-align: right;
}
/* the ul and li style */
.top-nav ul{
    display: inline-block;
}
.top-nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.top-nav span, .top-nav ul li a{
    transition: .4s color ease;
}
.top-nav a:hover{
    color: #ff523b;
}
/* the row div */
.row{
    width: 100%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* the float for the divs */
.row .col-2{
    flex-basis: 50%;
    min-width: 300px;
}
/* the image in the image side */
.col-2 .image{
    max-width: 100%;
    padding: 50px 0;
}
/* the h2 of content */
.col-2 h2{
    font-size: 50px;
    line-height: 1.5;
    margin: 25px 0;
}
/* the btn link */
.col-2 .btn{
    display: inline-block;
    color: #e74c3c;
    border: 2px solid #e74c3c;
    padding: 10px 20px;
    margin: 30px 0;
    border-radius: 20px;
    text-transform: uppercase;
    transition: 0.4s background-color ease;
}
/* the btn link hover */
.col-2 .btn:hover{
    color: #fff;
    background-color: #e74c3c;
}
header .row{
    margin-top: 70px;
}
/* the categories div */
.categories{
    margin-top: 70px 0;
}
/* the small containers div */
.small-containers{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* the colomns */
.col-3{
    flex-basis: 30%;
    min-width: 310px;
    margin-right: 10px;
    margin-bottom: 30px;

}
/* the image in the colomns */
.col-3 .image{
    width: 100%;
    border-radius: 8px;
}
/* colomn 4 */
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: .5s transform ease;
}
/* the image in colomn 4 */
.col-4 .image{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* the stars colors */
.rating{
    color: #ff523b;
    margin: 5px 0;
}
/* the title */
.small-containers .title{
    text-align: center;
    margin: 15px 80px;
    line-height: 2.5;
    color: #555;
    position: relative;
}
.small-containers .title::after{
    content: '';
    background-color: #ff523b;
    width: 80px;
    height: 4px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
/* the title of product */
.col-4 h5{
    color: #555;
    font-family: 'normal-ubnty';
}
.col-4 p{
    font-size: 14px;
}
/* the hover of col-4 */
.col-4:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
/* offer */
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
/* the row in offers */
.offer .row p, .offer .row small{
    color: #555;
}
/* the iamge in the offer */
.offer .col-2 .image{
    padding: 50px;
}
/* testimonial */
.testimonial{
    padding-top: 100p;
}
/* the style of colomn */
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0,0.1);
    cursor: pointer;
    transition: .5s transform ease;
}
/* style the para */
.testimonial .col-3 p{
    color: #777;
    font-size: 12px;
    margin: 12px 0;
}
/* style of image */
.testimonial .col-3 .image{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
/* the stars in testimonial */
.testimonial .rating span{
    margin-right: 2px;
}
/* hover of colomn */
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
/* the top icon */
.testimonial .col-3 .top-icon{
    font-size: 35px;
    color: #ff523b;
}
/* the user name style */
.testimonial .col-3 h3{
    font-family: 'bold-ubnty';
    color: #555;
    font-size: 16px;
}
/* the brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 .image{
    width: 100%;
    cursor: pointer;
    transition: .5s transform ease;
}
.col-5 .image:hover{
    transform: translatex(8px);
}
/* the footer */
footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 20px;
}
.s-col .logo h1{
    color: #8a8a8a;
}
.s-col .logo a{
    border: 3px solid #fff;

}
/* the h3 style in the footer */
footer h3{
    color: #fff;
    margin-bottom: 20px;
}
/* colomn in the footer */
.f-col, .s-col, .th-col, .fo-col{
    min-width: 250px;
    margin-bottom: 20px;
}
/* the first colomn in footer */
.f-col{
    flex-basis: 30%;
}
.s-col{
    flex-basis: 30%;
    text-align: center;
}
.s-col .logo{
    margin-bottom: 20px;
}
.th-col, .fo-col{
    flex-basis: 20%;
    text-align: center;
}
/* the link in the third and fourth colomn */
.th-col a, .fo-col a{
    color: #8a8a8a;
    font-family: 'normal-ubnty';
    line-height: 1.5;
}
.app-logo{
    margin-top: 20px;
}
.app-logo .image{
    width: 140px;
}
footer .hrline{
    border: none;
    background-color: #8a8a8a;
    height: 2px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    font-family: 'normal-ubnty';
}